In [55]:
import pandas as pd
import numpy as np

In [154]:
address_clust = pd.read_csv('test_jun/address_clust.csv')
address_stats = pd.read_csv('test_jun/address_stats.csv')

In [165]:
address_stats['cluster'] = address_stats['address_id'].map(address_clust.set_index('address_id')['cluster_id'].to_dict()).fillna(0)

In [156]:
# дубли
dubid =address_stats.groupby('id')['transaction_id'].count().reset_index().sort_values('transaction_id').query('transaction_id==2')['id']

In [166]:
address_stats = address_stats.drop_duplicates('id')
len(address_stats)

54445

In [169]:
ac = address_stats.groupby('transaction_id')['cluster'].nunique().reset_index()
transactfor2 = address_stats[address_stats['transaction_id'].isin(ac[ac['cluster']==2]['transaction_id'])]

In [172]:
transact01 = []
transact12 = []
transact02 = []
for transact, group in transactfor2.groupby('transaction_id'):
    sent = group[group.sent!=0]['cluster'].unique()
    received = group[group.received!=0]['cluster'].unique()
    if len(sent)==1 and len(received)==1:
        if sent in [0,1] and received in [0,1]: transact01.append(transact)
        elif sent in [1,2] and received in [1,2]: transact12.append(transact)
        elif sent in [0,2] and received in [0,2]: transact02.append(transact)

In [179]:
address_stats['received'], address_stats['sent'] = address_stats['received']/10**8, address_stats['sent']/10**8

In [182]:
# Сколько биткоинов отправил кластер 1 в кластер 2 и сколько кластер 2 отправил в кластер 1?
address_stats12 = address_stats[address_stats['transaction_id'].isin(transact12)]
address_stats12.groupby('cluster')[['sent','received']].sum()

             sent  received
cluster
1.0      6.906500    0.5600
2.0      0.565109    6.8991

In [183]:
# Сколько биткоинов отправил кластер 1 в кластер 0 и сколько кластер 0 отправил в кластер 1?
address_stats01 = address_stats[address_stats['transaction_id'].isin(transact01)]
address_stats01.groupby('cluster')[['sent','received']].sum()

               sent    received
cluster
0.0       19.809366  201.315744
1.0      201.394888   19.740262

In [184]:
# Сколько биткоинов отправил кластер 2 в кластер 0 и сколько кластер 0 отправил в кластер 2?
address_stats02 = address_stats[address_stats['transaction_id'].isin(transact02)]
address_stats02.groupby('cluster')[['sent','received']].sum()

            sent  received
cluster
0.0      0.36240    0.0003
2.0      0.00055    0.3604

In [185]:
%%time

fee1=[]
fee2=[]
for transact, group in address_stats.groupby('transaction_id'):
    if len(group[group.sent >0]['cluster'].unique()) == 1 and group[group.sent >0]['cluster'].unique()==1:
        fee1.append(transact)
    elif len(group[group.sent>0]['cluster'].unique()) == 1 and group[group.sent >0]['cluster'].unique() == 2:
        fee2.append(transact)

CPU times: user 44.9 s, sys: 101 ms, total: 45 s
Wall time: 45.1 s

In [186]:
#Сколько биткоинов потратил кластер 1 на fee?
fee_stats1 = address_stats[address_stats['transaction_id'].isin(fee1)]

fee_stats1[['sent','received']].sum()[0] - fee_stats1[['sent','received']].sum()[1]

0.5023439999908987

In [187]:
#Сколько биткоинов потратил кластер 2 на fee?
fee_stats2 = address_stats[address_stats['transaction_id'].isin(fee2)]

fee_stats2[['sent','received']].sum()[0] - fee_stats2[['sent','received']].sum()[1]

0.3729586100103006